([
    (
        kind: AttackRange,
        val: 350.0,
    ),
    (
        kind: CDR,
        val: 4.0,
    ),
    (
        kind: Damage,
        val: 10.0,
    ),
    (
        kind: ProjCount,
        val: 1.0,
    ),
    (
        kind: ProjSpeed,
        val: 400.0,
    ),
    (
        kind: ProjBounces,
        val: 1.0,
    ),
    (
        kind: CritChance,
        val: 0.05,
    ),
    (
        kind: CritDamage,
        val: 1.25,
    ),
])
