([
    AttackRange((1.0)),
    CDR((1.0)),
    CritChance((1.0)),
    CritDamage((1.0)),
    Health((
        max: 50.0,
        current: 50.0,
    )),
    MS((
        current: 50.0,
        cap: 500.0,
    )),
    Luck((1.0)),
    PickupR((100.0)),
])