([
    (
        activation: FixedWaves(
            start_time: 0.0,
            tick_rate: 5.0,
            max_ticks: 20,
            c_ticks: 0,
        ),
        instruction: (
            kind: FacelessMan,
            pattern: AroundAllPlayers(
                pattern: Circle(
                    amount: 10,
                    center: (0.0, 0.0),
                    radius: 1500.0,
                    radius_only: true,
                ),
            ),
        ),
    ),
    (
        activation: TimeLimit(
            start_time: 30.0,
            end_time: 60.0,
            tick_rate: 10.0,
        ),
        instruction: (
            kind: FacelessMan,
            pattern: AroundAllPlayers(
                pattern: Circle(
                    amount: 10,
                    center: (0.0, 0.0),
                    radius: 1000.0,
                    radius_only: true,
                ),
            ),
        ),
    ),
])
